##########################################################################
# Needed by the root compose.yml
##########################################################################

##########################################################################
# Microservices Monitoring
##########################################################################
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
CADVISOR_PORT=8080
NODE_EXPORTER_PORT=9100
MONGODB_EXPORTER_PORT=9216
LOKI_PORT=3100
PROMTAIL_PORT=9080

## Prometheus Configuration
PROMETHEUS_MONITOR_NAME=chariot-monitor
PROMETHEUS_SCRAPE_INTERVAL=15s
PROMETHEUS_EVALUATION_INTERVAL=15s
PROMETHEUS_ALERTMANAGER_TARGET=alertmanager:9093

PROMETHEUS_CHARIOT_BACKEND_SCRAPE_INTERVAL=10s
PROMETHEUS_CADVISOR_SCRAPE_INTERVAL=15s
PROMETHEUS_NODE_EXPORTER_SCRAPE_INTERVAL=15s
PROMETHEUS_MONGODB_SCRAPE_INTERVAL=15s
PROMETHEUS_LOKI_SCRAPE_INTERVAL=15s

PROMETHEUS_SELF_TARGET=localhost:9090
PROMETHEUS_BACKEND_TARGET=backend:9000
PROMETHEUS_BACKEND_METRICS_PATH=/metrics
PROMETHEUS_CADVISOR_TARGET=cadvisor:8080
PROMETHEUS_NODE_EXPORTER_TARGET=node-exporter:9100
PROMETHEUS_MONGODB_EXPORTER_TARGET=mongodb-exporter:9216
PROMETHEUS_ALERTMANAGER_TARGET=alertmanager:9093
PROMETHEUS_LOKI_EXPORTER_TARGET=loki:3100
PROMETHEUS_LOKI_METRICS_PATH=/loki/metrics

## Alert Manager Configuration
ALERTMANAGER_SMTP_FROM=alerts@example.com
ALERTMANAGER_TIMEOUT=10s
ALERTMANAGER_RESOLVE_TIMEOUT=5m
ALERTMANAGER_GROUP_WAIT=30s
ALERTMANAGER_GROUP_INTERVAL=5m
ALERTMANAGER_REPEAT_INTERVAL=3h
ALERTMANAGER_CRITICAL_GROUP_WAIT=10s
ALERTMANAGER_CRITICAL_REPEAT_INTERVAL=30m

## Grafana Configuration
GRAFANA_PORT=3005
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=your_secure_grafana_password_here