global:
  # Collecte des métriques
  scrape_interval: ${PROMETHEUS_SCRAPE_INTERVAL}
  
  # Intervalle d'évaluation des règles
  evaluation_interval: ${PROMETHEUS_EVALUATION_INTERVAL}
  
  # Labels externes ajoutés à toutes les métriques
  external_labels:
    monitor: '${PROMETHEUS_MONITOR_NAME}'
    environment: '${PROMETHEUS_ENVIRONMENT}'

# Configuration des jobs de collecte (scrape configs)
scrape_configs:
  # Job 1: Prometheus (auto-monitoring)
  - job_name: 'prometheus'
    static_configs:
      - targets: ['${PROMETHEUS_SELF_TARGET}']
    
  # Job 2: Backend NestJS
  - job_name: 'chariot-backend'
    static_configs:
      - targets: ['${PROMETHEUS_BACKEND_TARGET}']
    metrics_path: '${PROMETHEUS_BACKEND_METRICS_PATH}'
    scrape_interval: ${PROMETHEUS_CHARIOT_BACKEND_SCRAPE_INTERVAL}
    
  # Job 3: cAdvisor (métriques des containers Docker)
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['${PROMETHEUS_CADVISOR_TARGET}']
    scrape_interval: ${PROMETHEUS_CADVISOR_SCRAPE_INTERVAL}
    
  # Job 4: Node Exporter (métriques de la machine hôte)
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['${PROMETHEUS_NODE_EXPORTER_TARGET}']
    scrape_interval: ${PROMETHEUS_NODE_EXPORTER_SCRAPE_INTERVAL}
  
  # Job 5: MongoDB Exporter (métriques de la base de données)
  - job_name: 'mongodb'
    static_configs:
      - targets: ['${PROMETHEUS_MONGODB_EXPORTER_TARGET}']
    scrape_interval: ${PROMETHEUS_MONGODB_SCRAPE_INTERVAL}

  - job_name: 'loki'
    static_configs:
      - targets: ['${PROMETHEUS_LOKI_EXPORTER_TARGET}']
    metrics_path: '${PROMETHEUS_LOKI_METRICS_PATH}'
    scrape_interval: ${PROMETHEUS_LOKI_SCRAPE_INTERVAL}

# Configuration des alertes avec Alertmanager
alerting:
  alertmanagers:
    - static_configs:
        - targets: ['${PROMETHEUS_ALERTMANAGER_TARGET}']
      timeout: ${ALERTMANAGER_TIMEOUT}

# Fichiers de règles d'alertes
rule_files:
  - "/etc/prometheus/alerts/*.yml"
